<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="form-card">
    <h2>Payment</h2>

    <p>
        Total Price: <strong><span th:text="${total} + ' ₾'">0 ₾</span></strong>
    </p>


    <p>
        You're about to rent
        <span th:text="${car.brand + ' ' + car.model}">Car</span>
        for <span th:text="${hours}">0</span> hours.
    </p>

    <form th:action="@{/payment}" method="post">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="hidden" name="carId" th:value="${car.id}" />
        <input type="hidden" name="hours" th:value="${hours}" />
        <input type="hidden" name="date" th:value="${date}" />
        <input type="hidden" name="startTime" th:value="${startTime}" />


        <div class="input-group">
            <i class="fas fa-credit-card"></i>
            <input type="text" name="cardNumber" placeholder="Card Number" required>
        </div>

        <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" name="cardHolder" placeholder="Card Holder" required>
        </div>

        <div class="input-group">
            <i class="fas fa-calendar-alt"></i>
            <input type="text" name="expiryDate" placeholder="MM/YY" required>
        </div>

        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="text" name="cvv" placeholder="CVV" required>
        </div>

        <button type="submit">Pay</button>
    </form>


    <a th:href="@{/cars}" class="btn-admin" style="margin-top: 20px;">
        <i class="fas fa-arrow-left"></i> Back to Cars
    </a>
</div>

</body>
</html>
